@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Space Goretsk', sans-serif;
}

:root {
  --radius: 8px;
}

@layer utilities {
  .button-primary {
    @apply bg-primary-500 font-[600] text-slate-800;
    border-radius: var(--radius);
  }
  .container {
    @apply py-4 px-10 max-w-[1280px] mx-auto;
  }
}