@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  overflow-y: auto;
  scrollbar-width: none;  /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Space Goretsk', sans-serif;
  background-color: "#fdfdfd"
}

:root {
  --radius: 8px;
}

@layer utilities {
  .button-primary {
    @apply bg-primary-500 font-[600] text-slate-800;
    border-radius: var(--radius);
  }
  .container {
    @apply py-4 px-10 max-w-[1280px] mx-auto;
  }
}


.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}