@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Space Goretsk', sans-serif;
}

:root {
  --radius: 8px;
}

@layer utilities {
  .button-primary {
    @apply bg-[#ffcca4] font-[600] text-slate-800;
    border-radius: var(--radius);
  }
}